h1 {
	text-align: center;
	font-family: 'Poiret One', sans-serif;
	font-size: 48pt;
}

h2 {
	text-align: center;
	font-family: 'Poiret One', sans-serif;
	font-size: 14pt;
}

body {
	background: linear-gradient(red, yellow);

}

.col-xs-6 {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
}

#gifs-appear-here {
	text-align: center;
	font-family: 'Poiret One', sans-serif;
	font-size: 36pt;
	padding-top: 10%;
}

#btn {
	background-color: #e7e7e7; color: black;}
}